<!DOCTYPE html>  
<html lang="en">  
<head>  
    {% csrf_token %} 
    <meta charset="UTF-8">  
    <title>Index</title>  
</head>  
<body>
    <div class="row">                                                                                                      
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Coin</th>
                        <th>Added Time</th>
                    </tr>
                    {% for i in coins %}
                    <tr>
                        <td>{{ i.crypto_name }}</td>
                        <td>{{ i.added_time }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <th>Total</th>
    {% for i in y %} 
    {{i}}
    {% endfor %}
   
</body><br>
<a href="{% url 'add' %}">Add Coin</a>